{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "import/no-named-as-default": 0,
    "no-shadow": 0,
    "react/jsx-filename-extension": 0
  },
  "env": {
    "jasmine": true
  }
}
